* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    margin: auto;
    width: 90%;
    min-height: 15vh;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


nav ul, nav h2 {
    flex: 1;
    font-size: 1.5rem;
}


section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home {
    background: royalblue;
}

.project {
    background: seagreen;
}

.contact {
    background: tomato;
}

.bubble {
    position: absolute;
    z-index: -2;
    background-color: steelblue;
    transform: scale(2);
}